/************** SUBTITLE **************/

.subtitle__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
}

.subtitle__decorator {
  display: flex;
  align-items: center;
  gap: 5px; 
}

.decorator__line {
  width: 40px;
  height: 3px;
  background-color: #ff5f5f; 
  border-radius: 2px;
}

.decorator__dot {
  width: 4px;
  height: 4px;
  background-color: #ff5f5f;
  border-radius: 50%;
  margin-right: .5rem;
}

.subtitle__text {
  font-size: clamp(0.95rem, 1.5vw, 1.1rem);
  font-weight: 300;
  color: #fff; 
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1em;
}

