/************** LAYOUT FOR INTRODUCTION AND MAIN STACK **************/
.slide-layout-about {
  width: 100%;
  height: 100%;
  padding: 4em 4.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.slide-layout-about .info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-layout-about .info h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.8em;
  color: #f7f9fc;
  border-bottom: 1px solid #ff5f5f;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.slide-layout-about .info p {
  font-size: 1em;
  line-height: 1.6em;
  color: #f7f9fc;
  text-align: justify;
}

.slide-layout-about .image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-icon {
  width: 140px;
  height: 140px;
}

/************** HIGHLIGHT **************/
.highlight {
  font-weight: 600;
  color: #7b61ff;
  transition: 0.3s ease;
}

.highlight:hover {
  color: #f7f9fc;
}

/************** SLIDE HARD SKILLS **************/

.slide-layout-tech {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 4em;
  gap: 20px;
}

.tech-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tech-category {
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 0.9em;
}

.tech-card {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  padding: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  border-left: 2px solid #7b61ff;
  transition: 0.3s ease;
}

.tech-card:hover {
  border-left: 2px solid #ff5f5f;
  transform: translateX(5px);
  background: rgba(255, 255, 255, 0.1);
}

.container-tech {
  display: flex;
  gap: 12px;
}

.tech-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
  border-radius: 6px;
  cursor: pointer;
}

.tech-icon:hover {
  transform: translateY(-2px);
}

.tech-icon svg {
  font-size: 1.25rem;
  opacity: 1;
}

.tech-desc {
  font-size: 0.75rem;
  opacity: 0.85;
}

.tech-icon.java svg {
  color: #f89820;
}
.tech-icon.php svg {
  color: #4f5d95;
}
.tech-icon.python svg {
  color: #3776ab;
}
.tech-icon.javascript svg {
  color: #f7df1e;
}
.tech-icon.react svg {
  color: #61dafb;
}
.tech-icon.node svg {
  color: #83cd29;
}
.tech-icon.postman svg {
  color: #ff6c37;
}
.tech-icon.mysql svg {
  color: #00618a;
}
.tech-icon.mongodb svg {
  color: #4db33d;
}
.tech-icon.firebase svg {
  color: #ffca28;
}
.tech-icon.docker svg {
  color: #2496ed;
}
.tech-icon.github svg {
  color: #ffffff;
}
.tech-icon.git svg {
  color: #f1502f;
}

/************** SLIDE SOFT SKILLS **************/
#slide-layout-softskills {
  width: 100%;
  padding: 0 4em;
  display: flex;
  flex-direction: column;
}

.softskills-accordion {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 300px;
  margin-top: 20px;
}

.accordion-item {
  width: 100%;
}

.accordion-item.open .accordion-header {
  border-left: 2px solid #ff5f5f !important;
}

.accordion-header {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: .9rem;
  font-weight: 600;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  border-left: 2px solid #7b61ff;
  cursor: pointer;
  transition: 0.3s ease;
  color: #fff;
}

.accordion-header:hover{
  border-left: 2px solid #ff5f5f;
}

.accordion-header svg {
  color: #7b61ff;
  font-size: 1.4rem;
}

.accordion-content {
  line-height: 1.4;
  font-size: 0.8rem;
  max-height: 0;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  padding: 0 18px;
  border-left: 2px solid #5fa8ff20;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordion-content.open {
  padding: 10px;
  max-height: 200px;
}

/************** RESPONSIVE **************/
