/* Layout do slide */
.slide-layout-about {
  width: 100%;
  height: 100%;
  padding: 4em 4.5em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* Coluna esquerda */
.slide-layout-about .info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-layout-about .info h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.8em;
  color: #f7f9fc;
  border-bottom: 1px solid #ff5f5f;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.slide-layout-about .info p {
  font-size: 1em;
  line-height: 1.6em;
  color: #f7f9fc;
  text-align: justify;
}

/* Coluna direita */
.slide-layout-about .image {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-icon {
  width: 140px;
  height: 140px;
}

/* ===========HIGHLIGHT=================== */
.highlight {
  font-weight: 600;
  color: #7b61ff;
  transition: 0.3s ease;
}

.highlight:hover {
  color: #f7f9fc;
}

/* Responsive */
@media (max-width: 780px) {
  .slide-layout-about {
    flex-direction: column;
    padding: 2em;
    text-align: center;
  }

  .slide-layout-about .info {
    width: 100%;
  }

  .slide-layout-about .image {
    width: 100%;
    margin-top: 25px;
  }

  .big-icon {
    width: 110px;
    height: 110px;
  }
}

@media (max-width: 480px) {
  .slide-layout-about {
    padding: 1.6em;
  }

  .slide-layout-about .info h1 {
    font-size: 1.4em;
  }

  .slide-layout-about .info p {
    font-size: 0.9em;
  }

  .big-icon {
    width: 90px;
    height: 90px;
  }
}
