#carousel-wrapper {
  width: 100%;
  position: relative;
  height: 100%;
}

#about-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 15px;
  height: 100%;
  padding: 1em 1em 4em 1em;
  align-items: center;
}

#about-container::-webkit-scrollbar {
  display: none;
}

.about-block {
  width: 250px;
  min-width: 250px;
  height: 100%;
  min-height: 250px;
  background-color: #f7f9fc;
  padding: 1.2em 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;
}

.about-block:hover {
  transform: translateY(-2px);
}

.about-block h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2em;
  color: #222222;
  margin: 0;
  padding-bottom: 0.3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.about-block p {
  font-size: 0.9em;
  line-height: 1.6em;
  color: #222222;
  margin-top: 0.3em;
  text-align: justify;
}

.icon {
  color: #ff5f5f;
  width: 17px;
  height: 17px;
}

.highlight {
  color: #222222;
  font-weight: 600;
  transition: color 0.3s ease;
}

.highlight:hover {
  color: #ff5f5f;
  cursor: pointer;
}

.carousel-controls {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
}

.carousel-btn {
  width: 50px;
  height: 35px;
  background-color: #f7f9fc;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  transition: transform 0.3s ease;
}

.carousel-btn:hover {
  transform: scale(1.08);
  cursor: pointer;
  background-color: #ff5f5f;
  color: #f5f1e6;
}

@media (max-width: 600px) {
  .about-block {
    width: 260px;
    min-width: 260px;
    height: 100%;
  }
}
