/************** H1 STANTARDIZED **************/
.slide-h1 {
  font-weight: 700;
}

/************** CARD EXPERIENCES **************/
.slide-layout-experiences {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 0 4em;
}

.experiences-item {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.05);
  border-left: 3px solid #7b61ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
}

.experiences-item:hover {
  border-left-color: #ff5f5f;
  transform: translateX(5px);
}

.experiences-item-year {
  font-size: 0.9em;
  font-weight: 600;
  color: #7b61ff;
  margin-bottom: 0.5em;
}

.experiences-item-title {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.experiences-item-desc {
  font-size: 0.8em;
  opacity: 0.8;
}

/************** CARD COURSES **************/
.slide-layout-courses {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 4em;
  gap: 20px;
}

.courses-item {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.05);
  border-left: 3px solid #7b61ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
}

.courses-item:hover {
  border-left-color: #ff5f5f;
  transform: translateX(5px);
}

.courses-year {
  font-size: 0.9em;
  font-weight: 600;
  color: #7b61ff;
  margin-bottom: 0.5em;
}

.courses-year:not(:first-child) {
  margin-top: 10px;
}

.courses-desc {
  font-size: 0.9em;
  opacity: 0.8;
}

