.section-content {
  width: 65%;
  height: 100%;
  background-color: #072142;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 9;
  overflow: hidden;
  transform-origin: bottom right;
  transform: scale(0.9);
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
}

/* ================ Layers ================*/
.layer {
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
}

.layer-deep {
  background-color: #072142;
  transform: none;
}

.layer-mid {
  background-color: #ff5f5f;
  z-index: 2;
}

.layer-top {
  background-color: #072142;
  z-index: 3;
}

/* =============== Contéudo Interno ============= */

.section-inner {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease;
}

.section-content.visible .section-inner {
  animation: contentAppear 1.2s ease-in-out forwards;
}

/* =============== Animações =============== */

.section-content.visible {
  animation: growContainer 1s ease-in-out forwards;
}

.section-content.visible .layer-mid {
  animation: slideMid 0.8s ease-in-out forwards;
}

.section-content.visible .layer-top {
  animation: slideTop 1.2s ease-in-out forwards;
}

/* ============= Keyframes =============*/

@keyframes contentAppear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes growContainer {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideMid {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideTop {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
