/************** SECTION-CONTENT **************/

.section-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 9;
  overflow: hidden;
  transform-origin: bottom right;
  transform: scale(0.9);
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
}

/************** LAYERS **************/

.layer {
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
}

.layer-deep {
  background-color: #072142;
  transform: none;
}

.layer-mid {
  background-color: #ff5f5f;
  z-index: 2;
}

.layer-top {
  background-color: #072142;
  z-index: 3;
}

/************** INTERNAL CONTENT **************/

.section-inner {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 100%;
  padding: 0;
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
}

/************** AUTO ANIMATIONS **************/

.section-content.animate {
  animation: growContainer 1s ease-in-out forwards;
}

.section-content.animate .layer-mid {
  animation: slideMid 0.5s ease-in-out forwards;
}

.section-content.animate .layer-top {
  animation: slideTop 0.7s ease-in-out forwards;
}

.section-content.animate .section-inner {
  animation: contentAppear 1s ease-in-out forwards;
  animation-delay: 0.6s;
}

/************** KEYFRAMES **************/

@keyframes contentAppear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes growContainer {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideMid {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideTop {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/************** RESPONSIVE **************/

@media (max-width: 768px) {
  /* .section-content {
    width: 100%;
    height: 60%;
    position: relative;
  } */
}
