/************** TWO LINES BASE **************/

.two-lines {
  position: relative;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeSlideIn 0.6s ease-out forwards;
  animation-delay: 0.3s;
  will-change: transform, opacity;
  z-index: 10;
}

/************** VARIANT TWO LINES **************/
.two-lines.main::before{
  margin-bottom: 1.5rem;
}

.two-lines::before,
.two-lines::after {
  content: "";
  display: block;
  height: 0.25rem;
  background-color: var(--line-color, #ff5f5f);
  width: 5.5rem;
  margin: 1rem 0;
  border-radius: 0.25rem;
}

/* Linha inferior deslocada */
.two-lines::after {
  margin-left: 50px;
  animation: lineSlide 0.6s ease-out forwards;
  animation-delay: 0.6s;
}

/* Linha superior */
.two-lines::before {
  animation: lineSlideTwo 0.6s ease-in-out forwards;
  animation-delay: 0.6s;
}

/************** KEYFRAMES **************/

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes lineSlide {
  from {
    margin-left: 25px;
  }
  to {
    margin-left: 50px;
  }
}

@keyframes lineSlideTwo {
  from {
    margin-left: 35px;
  }
  to {
    margin-left: 0;
  }
}

/************** RESPONSIVE **************/

@media (max-width: 768px) {
  .two-lines.compact {
    margin: 0.8rem 0;
  }

  .two-lines.compact::before,
  .two-lines.compact::after {
    margin: 0.6rem 0;
  }
}
