#contact-container {
  width: 100%;
  height: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  height: 100%;
  width: 100%;
  max-width: 700px;
  min-width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas: 
    "name" 
    "email"
    "message"
    "charcount"
    "button";
  gap: 12px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  font-size: 0.9em;
  background-color: #f5f1e6; 
  color: #222222; 
  transition: all 0.25s ease-in-out;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #6b6b6b; 
  opacity: 1; 
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: #fffaf3;
  box-shadow: 0 0 5px #ff5f5f; 
  color: #111111;
  transition: box-shadow 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.contact-form input:nth-of-type(1){
  grid-area: name;
}

.contact-form input:nth-of-type(2){
  grid-area: email;
}

.contact-form textarea {
  grid-area: message;
  resize: none;
  height: 150px;
}

.contact-form small{
  grid-area: charcount;
  justify-self: end;
  font-size: 0.8em;
  color: #696969;
}

.contact-form .btn-form {
  grid-area: button;
  position: relative;
  background-color: transparent;
  overflow: hidden;
  color: #fff;
  border: none;
  border-bottom: 2px solid #ff5f5f;
  font-size: 1.1em;
  padding: .2em 1em;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;
  justify-self: center;
}

.contact-form .btn-form::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #ff5f5f;
  z-index: -1;
  transition: height 0.3s ease-in-out;
}

.contact-form .btn-form:hover::before {
  height: 100%;
}

.contact-form .btn-form:hover {
  color: #fff;
  border-bottom-color: transparent;
}
