/************** CARD PROJECTS **************/
.slide-layout-projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0em 4em;
  gap: 20px;
}

.projects-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Título e tecnologia */
.projects-title {
  font-size: 2.1em;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.projects-tech {
  width: fit-content;
  font-size: .9em;
  font-weight: 600;
  opacity: 1;
  color: #7b61ff;
}

/* Descrição */
.projects-desc {
  font-size: 0.8em;
  line-height: 1.5em;
  opacity: 0.8;
  width: 90%;
}

/* Galeria de imagens */
.projects-image {
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.projects-image img {
  width: 31%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.25s ease;
}

.projects-image img:hover {
  transform: scale(1.04);
}

/* Links: Site | Repo */
.projects-links {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.projects-links .btn-projects {
  grid-area: button;
  position: relative;
  overflow: hidden;
  color: #fff;
  font-size: 0.9em;
  padding: 0.2em 1em;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;
  justify-self: center;
}

.projects-links .btn-projects:hover {
  border-left-color: #ff5f5f;
  transform: translateX(5px);
}
