/************** BUTTON **************/

.section-action {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

/* Botão base */
.section-action .btn-navigate {
  background-color: #ff5f5f;
  color: #fff;
  border: none;
  font-size: clamp(0.85rem, 1.2vw, 0.9rem);
  padding: 1.2rem 2.4rem;
  font-weight: bold;
  border-radius: 1.7rem;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease;
}

/* Hover */
.section-action .btn-navigate:hover {
  background-color: #e64c4c;
  transform: translateY(-2px);
}

/* Animação */
.section-action {
  opacity: 0;
  transform: translateY(30px);
  animation: slideFadeIn 0.8s ease-out forwards;
  animation-delay: 0.4s;
}

/************** KEYFRAMES **************/

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
