/************** FOOTER **************/

.footer__block--centered {
  background-color: var(--footer-bg);
  color: var(--white-85);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__info {
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/************** INFO **************/

.footer__info--name {
  margin-bottom: 1em;
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  font-weight: bold;
  color: var(--color-white);
}

.footer__info--city {
  margin-bottom: 1.5em;
  font-size: clamp(1.2rem, 2vw, 1.3rem);
  font-weight: 600;
  color: var(--color-white);
}

.footer__info--contact {
  display: flex;
}

/************** CONTACT **************/

.info__contact--tel,
.info__contact--email {
  color: var(--color-white);
  font-size: clamp(.8rem, 1.6vw, 1.3rem);
  font-weight: 600;
  line-height: 1.2;
  padding: 0 1em;
}

.info__contact--tel {
  border-right: 1px solid var(--color-white);
}

/************** SOCIAL **************/

#footer__info--social {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  gap: 1em;
}

#footer__info--social li a {
  text-decoration: none;
  background-color: transparent;
  color: var(--color-white);
}

.footer__icon {
  font-size: clamp(1.1rem, 1.8vw, 1.3rem);
}

.footer__icon:hover {
  color: var(--color-primary);
  transition: 0.3s;
}

/************** COPYRIGHT **************/

.footer__copyright {
  position: relative;
  display: block;
  width: 100%;
  padding: 1.8em;
}

.footer__copyright::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 0.0625rem;
  background: var(--color-primary);
}

.footer__copyright--content {
  color: var(--white-65);
  font-weight: 300;
  font-size: clamp(0.85rem, 1.4vw, 1rem);
  line-height: 1.5;
  text-align: center;
}

.footer__copyright--content a {
  font-weight: 600;
  text-decoration: none;
  color: var(--color-white);
}
