* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

:root {
  /* Base */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Whites with opacity */
  --white-85: #ffffffd9;
  --white-88: #ffffffe0;
  --white-65: #ffffffa6;

  /* Primary */
  --color-primary: #ff5f5f;

  /* Tech colors */
  --color-js: #f7df1e;
  --color-java: #007396;
  --color-php: #777bb4;
  --color-python: #3776ab;
  --color-html: #e34f26;
  --color-css: #1572b6;
  --color-react: #61dafb;
  --color-node: #339933;
  --color-postman: #ff6c37;
  --color-mysql: #4479a1;
  --color-mongodb: #47a248;
  --color-firebase: #ffca28;
  --color-docker: #2496ed;
  --color-kubernetes: #326ce5;
  --color-cicd: #2088ff;
  --color-github: #181717;
  --color-git: #f05032;

  /* Footer */
  --footer-bg: #0f0f0f;
}


html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: none;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background: #000;
}

#main {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 100px 0 40px 75px;
  transition: all 0.8s ease;
  box-sizing: border-box;
  color: #fff;
  background-color: transparent;
  z-index: 10;
  display: flex;
  align-items:flex-end;
}

#projects,
#curriculum {
  background: linear-gradient(180deg, #01050d 0%, #010a17 100%);
}

#about,
#contact {
  background-color: transparent;
}

#projects,
#about,
#curriculum,
#contact {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 75px;
  transition: all 0.8s ease;
  box-sizing: border-box;
  color: #fff;
  overflow-y: auto;
}

#contact{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sections-wrapper {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/************** RESPONSIVE **************/
@media (max-width: 768px) {
  #main{
    align-items: flex-start;
    width: 100%;
    padding: 100px 0 0 20px;
  }

  #projects,
  #about,
  #curriculum,
  #contact {
    padding: 75px 20px 50px 20px;
  }
}
