* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0; /* remove margens padrão */
  height: 100vh; /* altura da viewport */
  width: 100%;
  background: linear-gradient(
    to bottom,
    #1a2c4e 0%,
    /* topo: mais claro */ #112741 50%,
    /* meio */ #0b1d3a 100% /* fundo: mais escuro */
  );
  background-repeat: no-repeat; /* não repetir */
  background-size: cover; /* cobre a tela inteira */
  background-attachment: scroll; /* se quiser que o fundo fique fixo ou se mova, pode alterar */
}

section {
  height: calc(100vh - 60px);
  width: calc(100% - 150px);
  float: right;
  border-bottom: 1px solid red;
  margin-top: 60px;
}
