* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: none;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background: #000;
}

#main {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 75px 150px;
  transition: all 0.8s ease;
  box-sizing: border-box;
  color: #fff;
  background-color: transparent;
  z-index: 10;
  display: flex;
  align-items: center;
}

#projects {
  background: linear-gradient(180deg, #07182f 0%, #061326 50%, #040a16 100%);
}
#curriculum {
  background: linear-gradient(180deg, #050b14 0%, #030812 60%, #02050c 100%);
}

#about,
#contact {
  background-color: transparent;
}

#projects,
#about,
#curriculum,
#contact {
  position: relative;
  height: auto;
  width: 100%;
  padding: 75px 150px;
  transition: all 0.8s ease;
  box-sizing: border-box;
  color: #fff;
  overflow-y: auto;
}

.sections-wrapper {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/************** RESPONSIVE **************/
@media (max-width: 768px) {
  #projects,
  #about,
  #curriculum,
  #contact {
    padding: 75px 20px 50px 20px;
  }
}
