* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: none;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: linear-gradient(
    rgb(7, 33, 66),
    rgb(6, 28, 55),
    rgb(7, 24, 43),
    rgb(6, 18, 32),
    rgb(2, 11, 22)
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#main {
  position: relative;
  height: 100vh;
  width: 100%;
  padding-top: 60px;
  padding-left: 150px;
  transition: all 0.8s ease;
  box-sizing: border-box;
  color: #fff;
  background-color: transparent;
  z-index: 10;
}

#projects,
#about,
#curriculum,
#contact {
  position: relative;
  height: fit-content;
  width: 100%;
  padding: 80px 100px 0 150px;
  transition: all 0.8s ease;
  box-sizing: border-box;
  color: #fff;
  background-color: transparent;
  overflow-y: auto;
}

.sections-wrapper {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/************** RESPONSIVE **************/
@media (max-width: 768px) {
  
}
