/* ================= Aside ================= */

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100vh;
  padding: 40px 0 40px 40px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
}

#aside-block {
  position: relative;
}

aside h1 {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.2em;
  position: relative;
}

/* ================= Lista de ícones ================= */

aside ul {
  list-style: none;
  position: fixed;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  width: 40px;
}

aside ul li {
  margin-bottom: 0.4em;
  transform: scaleX(1);
  transform-origin: left;
  transition: all 0.5s ease;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 1.6em 0;
}

aside ul li .line-bar {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #fff;
  transition: all 0.5s ease;
}

aside ul li.active .line-bar {
  width: 35px;
  height: 4px;
}

#block-scroll {
  position: absolute;
  bottom: 20px;
  width: 70px;
  display: flex;
  justify-content: center;
}

/* ================= Scroll Icon ================= */

#scroll-text {
  position: absolute;
  bottom: 110px;
  left: -50px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8em;
  letter-spacing: 0.3em;
  font-weight: 200;
  color: #ffffff;
  transform: rotate(90deg);
  transition: bottom 0.5s ease, opacity 0.5s ease;
  opacity: 1;
}

#scroll-text.hidden {
  opacity: 0;
  bottom: -50px;
}

#scroll-text.visible {
  opacity: 1;
  bottom: 110px;
}

#scroll-text .scroll-icon-minus {
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  transform-origin: left;
}

/* ================= Media Queries ================= */

@media (max-width: 767px) {
  aside {
    width: 75px;
    padding: 20px 10px;
  }
  aside ul {
    left: 18px;
  }
  #scroll-text {
    left: -72px;
  }
}
