/************** ASIDE **************/

aside {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 150px;
  height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
}

/************** ICON LIST **************/

#aside-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#aside-block-mobile {
  display: none;
}

#aside-block ul {
  list-style: none;
  width: 35px;
}

#aside-block ul li {
  transform: scaleX(1);
  transform-origin: left;
  transition: all 0.5s ease;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 1.6em 0;
}

#aside-block ul li .line-bar {
  display: block;
  width: 20px;
  height: 4px;
  background-color: #fff;
  transition: all 0.5s ease;
}

#aside-block ul li.active .line-bar {
  width: 35px;
}

/************** ICON SCROLL **************/

#scroll-text {
  position: absolute;
  display: flex;
  align-items: end;
  bottom: 0;
  padding-left: 44%;
  height: 200px;
  width: 100%;
  font-size: 0.8rem;
  letter-spacing: 0.25rem;
  font-weight: 200;
  color: #ffffff;
  transition: bottom 0.5s ease, opacity 0.5s ease;
  opacity: 1;
}

#scroll-text span {
  position: absolute;
  top: 60px;
  left: 3px;
  transform: rotate(90deg);
}

#scroll-text.hidden {
  opacity: 0;
  bottom: -50px;
}

#scroll-text.visible {
  opacity: 1;
}

#scroll-text .scroll-icon-minus {
  position: absolute;
  display: inline-block;
  width: 3px;
  height: 50px;
  background-color: #fff;
}

/************** RESPONSIVE **************/

@media (max-width: 767px) {
  #aside-block {
    display: none;
  }

  #aside-block-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  #aside-block-mobile ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 2em;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  #aside-block-mobile ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    color: #fff;
  }

  #aside-block-mobile ul li .line-bar-mobile {
    display: block;
    width: 4px;
    height: 20px;
    background-color: #fff;
    transition: all 0.5s ease;
  }

  #aside-block-mobile ul li.active .line-bar-mobile {
    height: 35px;
  }

  #scroll-text span {
    left: -30px;
  }

  #scroll-text .scroll-icon-minus {
  left: 33px;
}
}
